body{
    background-color: antiquewhite;
    text-align: justify;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color:white;
    padding: 20px;
    position: sticky;
    top: 0% ;
    border-radius: 100px;
}

.navItem{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: black;
    border-radius: 50px;
}

.navItem:hover{
    background-color: brown;
}

.container1{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.left_image1{
    display: flex;
    padding: 30px;
    backface-visibility: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.right_image1{
    display: flex;
    padding: 30px;
    backface-visibility: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.left_para1{
    display: flex;
    padding: 70px;
}

.right_para1{
    display: flex;
    padding: 60px;
}